@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,700');

/* Color schemes */
.demo-1 {
	--color-text: #000000;
	--color-bg: #ffffff;
	--color-link: #000000;
	--color-link-hover: rgb(0, 0, 0);
	--color-info: rgb(0, 0, 0);
	--color-main-text: #1d1c1c;
	--color-scroll-text: #000000;
	/* --font-scroll-text: 'Open Sans', sans-serif; */
	--fontsize-scroll-text: 8vw;
}

.content__main {
	color: var(--color-main-text);
}

.js .content__text::before {
	content: '';
	position: absolute;
	left: 0;
	height: 12%;
	bottom: 0;
	width: calc(6vmax - 1.5rem);
	background: var(--color-link);
}
